<head> 
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>

<body>

  <div class="icebox col-10 offset-1">
    <h1>Welcome to TimeTracker</h1>
    
    <h3>All of your time tracking solutions</h3>

    <br />

    <button class="button">Get Started</button>
  </div>
  <%= @projects.inspect %>
</body>