@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  margin:0;  
  padding:0;
}

body { 
  background: image_url('funky-lines.png');
  font-family: 'Bitter', serif;
}

h1 {
  font-size: 46px;
  font-weight: 100;
}

h3{
  font-size: 24px;
  
  font-weight: 100;
}

.icebox {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #1f1f1f;
    border: 2px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 15px;
    color: #f4a742;
    
}

.button {
    background-color: #f4a742; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.container {
    background-color: #1f1f1f;
}

.navbar {   
    box-shadow: 0px 1px 3px #2a2a2a
}